
li{
  padding: 10px;
}
.radio-label {
    position: relative;
    cursor: pointer;
    color: #FAFAFA; /* color para no seleccionado */
    font-weight: bolder;
    padding: 6px;
  
  }
  
  .radio-label::before {
    content: "";
    position: absolute;
    bottom: -4px; /* Mueve la línea a 4px de la parte inferior */
    left: 0;
    width: 100%;
    height: 3px;
    background: #1edbcf; /* Color de la línea */
    border-radius: 4px;
    display: none; /* Oculta la línea por defecto */
  }


  .radio-label.selected::before,
  .radio-label:hover::before {
    display: block; /* Muestra la línea si la opción está seleccionada */
  }